  body {
    background-color: #C2C8D0;
  }
  .element {
    border-style: dashed;
    border-top: none;
    border-bottom: none;
  }

  .inner-unused {
    border-bottom: dashed;
  }
  
  unused-table {
    text-align: left;
    border-spacing: auto;
    border-collapse: collapse;
  }
